# Copy values from this file into Semaphore environment variables or a
# Semaphore-managed tfvars file. Do not commit real secrets.

proxmox_endpoint  = "https://192.168.123.194:8006/"
proxmox_api_token = "terraform@pve!semaphore=REPLACE_ME"

# The bpg/proxmox provider clones by source VM ID. Set this to the VM ID of
# the Proxmox template named "ubuntu generic".
template_vm_id = 9000

target_env = "production"

proxmox_node_name       = "pve"
clone_datastore_id      = "local-lvm"
cloud_init_datastore_id = "local-lvm"
network_bridge          = "vmbr0"

network_cidr    = "192.168.123.0/24"
network_gateway = "192.168.123.1"
dns_servers     = ["192.168.123.1", "1.1.1.1"]

management_nodes = ["mgmt-01", "mgmt-02", "mgmt-03"]
data_nodes       = ["data-01", "data-02", "data-03", "data-04", "data-05", "data-06", "data-07", "data-08"]

control_plane_vm_id_start = 201
worker_node_vm_id_start   = 211
control_plane_ip_start    = 201
worker_node_ip_start      = 211
